---
layout: blog
index: Yes

lang:   en
---

{% for p in paginator.posts %}
<article class="post">
	<div class="page-header">
		<p class="date">
			{{ site.i.post.posted[page.lang] }}
			{{ p.date | date: site.i.post.date[page.lang] }}
		</p>
		<h2>
			<a href="{{ p.url }}">{{ p.title }}</a>
		</h2>
	</div>
	<div class="content">{{ p.content | truncatewords: 90 }}</div>
	<footer class="row">
		<p class="span2 read-more">
			<a href="{{ p.url }}">{{ site.i.post.more[page.lang] }} &raquo;</a>
		</p> {% if p.level %}
		<p class="level"> {% assign l = p.level %}
			{% include level.html %}
		</p> {% endif %}
	</footer>
</article> {% endfor %}
<div class="pagination">
	<ul> {% if paginator.page > 1 %}
		<li> {% if paginator.page == 2 %}
			<a href="/"> {% else %}
			<a href="/page{{ paginator.page | minus: 1 }}/"> {% endif %}
				&laquo;
			</a>
		</li>{% endif %}
		<li{% if paginator.page == 1 %} class="active"{% endif %}>
			<a href="/">1</a>
		</li>{% for i in (2..paginator.total_pages) %}
		<li{% if paginator.page == i %} class="active"{% endif %}>
			<a href="/page{{ i }}/">{{ i }}</a>
		</li> {% endfor %} {% if paginator.page < paginator.total_pages %}
		<li><a href="/page{{ paginator.page | plus: 1 }}/">&raquo;</a></li>{% endif %}
	</ul>
</div>
