<div class="navbar-inner">
  <div id="headbar" class="container">
    <div class="brand">
      <a href="/" class="back">
        <img src="/www/img/clever-cloud.png" alt="&laquo;"/>
      </a>
      <a href="/" class="title">{{ site.i.brand }}</a>
    </div>
    <ul class="nav pull-right">{% for link in site.i.nav.main.all %}
      <li>
        <a href="{% if link.id %}/{{ link.id }}.html{% else %}{{ link.url }}{% endif %}">
          {{ link.label }}
        </a>
      </li>{% endfor %}{% for link in site.portal.list %}
      <li>
        <div class="btn-group">
        	<a href="{{ link.url }}" class="btn">{{ link.title }}</a>
        </div>
      </li>{% endfor %}
    </ul>
  </div>
</div>
