<!DOCTYPE HTML>
<html lang="{{ page.locale }}">
	<head>
		<meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no">
		<title> {% if page.title %}
			{{ page.title }} | {% endif %}
			{{ site.link.base[page.locale] }}
		</title>
    {% if page.date %} 
      <meta property="og:title" content="{{ page.title }}"/>
      <meta property="og:image" content="{{ site.url }}{{ page.banner }}"/>
      <meta property="og:description" content="{{ page.excerpt | strip_html }}"/>
    {% else %} 
    {% endif %}
		<link rel="icon" type="image/png" href="/img/favicon.png" />
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.min.css"/>
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?skin=sunburst"></script>
		<link rel="stylesheet" type="text/css" href="/css/blog.css"/>
		<link rel="stylesheet" type="text/css" href="/css/pygments.css"/>
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css"/>
		<script type="text/javascript" src="/js/jquery.min.js"></script>
		<script type="text/javascript" src="/js/bootstrap-collapse.js"></script>
    <script type="text/javascript" src="/js/moment.min.js"></script>
		<script type="text/javascript" src="/js/miscellaneous.js"></script>
	</head>
	<body>
    <div class="cc-red-banner hidden-phone">
      <div class="container">
        <span class="cc-try-catch">Test Clever Cloud for free, 20€ off!</span> 
        <a href="https://api.clever-cloud.com/v2/session/signup" target="_blank" class="cc-try-catch">Create an account</a>
      </div>
    </div>
    <nav class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div id="headbar" class="container">
          <div class="brand">
            <a href="{{ site.link.base.url }}" class="title">{{ site.link.base[page.locale] }}</a>
          </div>
          <ul class="nav pull-right">{% for link in site.nav.social %}
            <li>
            <a href="{{ link.url }}">
              {{ link.en }}
              </a>
            </li>{% endfor %}{% for link in site.nav.portal %}
            <li>
            </li>{% endfor %}
          </ul>
        </div>
      </div>
		</nav>
		<div id="wrap">
			<section class="container">
				<div class="row">
					<div id="main" class="span8">
						{{ content }}
					</div>
					<aside class="span4">
            <div class="sidebar-link" id="widget-mailing">
              <a href="https://console.clever-cloud.com/auth/signup" class="cc-btn cc-btn__siderbar cc-signup_outline">
                <i class="fa fa-cloud"></i>
                 <span class="cc-btn__sidebar_text">Create an Account for Free</span>
              </a>
              <a href="https://www.facebook.com/clevercloudsas" class="cc-btn cc-btn__siderbar">
                <i class="fa fa-facebook"></i>
                <span class="cc-btn__sidebar_text">Like Us On Facebook</span>
              </a>
              <a href="https://twitter.com/clever_cloud" class="cc-btn cc-btn__siderbar">
                <i class="fa fa-twitter"></i>
                <span class="cc-btn__sidebar_text">Follow Us On Twitter</span>
              </a>
              <a href="https://www.linkedin.com/company/clever-cloud" class="cc-btn cc-btn__siderbar">
                <i class="fa fa-linkedin-square"></i>
                <span class="cc-btn__sidebar_text">Follow Us On LinkedIn</span>
              </a>
              <a href="https://www.google.com/+Clevercloud-platform" class="cc-btn cc-btn__siderbar">
                <i class="fa fa-google-plus"></i>
                <span class="cc-btn__sidebar_text">Google +</span>
              </a>
              <a href="http://subscribe.cleverapps.io/" class="cc-btn cc-btn__siderbar">
                <i class="fa fa-envelope-o"></i>
                <span class="cc-btn__sidebar_text">Subscribe to our newsletter</span>
              </a>
						</div>
            <div id="categories" class="page-header">
              <h3>{{ site.sidebar.categories[page.locale] }}</h3>
              <ul>{% for category in site.categories %}
                <li>
                  <a href="/{{ category[0] }}/">{{ category[0] }}</a>
                </li>{% endfor %}
              </ul>
            </div>
            <div id="latest">
              <div class="page-header">
                <h3>{{ site.sidebar.latest[page.locale] }}</h3>
              </div>
              <ul>{% for p in site.posts limit:10 %}
                <li>
                  <a href="{{ p.url }}">
                    {{ p.title }}
                  </a>
                </li>{% endfor %}
              </ul>
            </div>
            <div id="tag-cloud">
              <div class="page-header">
                <h3>{{ site.sidebar.tags[page.locale] }}</h3>
              </div>
              <div class="tags">
                {{ site | tag_cloud }}
              </div>
            </div>
					</aside>
				</div>
			</section>
		</div>
		<footer>
			<div class="container">
				<div id="sitemap" class="row">{% for col in site.nav.footer %}
          <div class="span3">
            <h3>{{ col[page.locale] }}</h3>
            <ul>{% for link in col.list %}
              <li>
                <a href="{{ link.url }}">{{ link[page.locale] }}</a>
              </li>{% endfor %}
            </ul>
          </div>{% endfor %}
          <div class="span3">
            <h3>{{ site.footer.categories[page.locale] }}</h3>
            <ul>{% for cat in site.categories %}
              <li>
                <a href="/{{ cat[0] }}/">{{ cat[0] }}</a>
              </li>{% endfor %}
            </ul>
          </div>
				</div>
			</div>
		</footer>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=439910186052859";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-19997759-8']);
		  _gaq.push(['_trackPageview']);
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
    <script type="text/javascript">
    // ML Subscribe
    $('#ml_subscribe').submit(function() {
        mlSubscribe() 
    });
    $('#embedded-subscribe').click(function(e) {
        e.preventDefault();
        mlSubscribe() 
    });
    function mlSubscribe() {
        var ml_email = $('#ml_subscribe input').val();
        if (ml_email != '') {
            uri = 'http://subscribe.cleverapps.io/addContact';
            $.post(uri, {
                'mail': ml_email
            }, function(data) {
                $('#ml_subscribe .message').hide();
                $('#ml_subscribe .' + data.response + '-message').show();
            }, "json");
        }
    }
    </script>
	</body>
</html>
