---
layout: blog
---

<article class="post">
	<div class="page-header">
		<h2>
      <a href="{{ site.link.base.url }}">{{ site.link.base[page.locale] }}</a> &raquo;
			{{ page.cat }}
		</h2>
	</div>
	<div class="content">
		{{ content }}
	</div>
</article>
{% for post in site.categories[page.cat] %}
<article class="post">
	<div class="page-header">
		<p class="date">
			{{ site.post.posted[page.locale] }}
			{{ post.date | date: site.post.date[page.locale] }}
		</p>
		<h2>
			<a href="{{ post.url }}">{{ post.title }}</a>
		</h2>
	</div>
	<div class="content">{{ post.content | split: "<div class='highlight'>" | first | truncatewords: 90 }}</div>
	<footer class="row post-info">
		<p class="span2 read-more">
			<a href="{{ post.url }}">{{ site.post.more[page.locale] }} &raquo;</a>
		</p>{% if post.level %}
		<p class="level"> {% assign l = post.level %}
			{% include level.html %}
		</p>{% endif %}
		<p class="category">{{ post.categories[0] }}</p>
		<div class="social">
			<a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ site.url }}{{ post.url }}" data-text="{{ post.title }}" data-hashtags="{{ post.categories[0] }}">Tweet</a>
			<div class="fb-like" data-href="{{ site.url }}{{ post.url }}" data-send="false" data-layout="button_count" data-width="90"	data-show-faces="false"></div>
		</div>
	</footer>
</article>{% endfor %}
