---
layout: base
---

<article id="post" class="post main">
  <div class="page-header">
  	<h2>
  		{{ page.title }}
  	</h2>
    <span class="date">
    <span class="avatar-small">
      <img src="{{ site.author[page.author].avatar }}" alt="{{ site.post.pic[page.locale] }} {{ site.author[page.author].name }}"/>
    </span>
      {{ site.post.postedby[page.locale] }} {{ site.author[page.author].name }}
    </span>
    <span class="date value" title="{{ page.date | date: site.post.date[page.locale] }}">
      {{ page.date | date: site.post.date[page.locale] }}
    </span>
  </div>
  <div class="content">
    {% if page.banner %}
    <div>
       <img class="cc-banner" src="{{ page.banner }}">
    </div>
    {% endif %}
  	{{ content }}
  </div>
  <footer class="post-info"> 
  	<div class="tags">

  		<div class="tags-list">
        {% for tag in page.tags %}
          <a href="/tag/{{ tag }}.html" rel="tag">{{ tag }}</a>
        {% endfor %}
      </div>
  	</div>
    <div class="social">
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ site.url | escape }}{{ page.url | escape }}" data-text="{{ page.title }} via @Clever_Cloud">
        Tweet
      </a>
      <div class="fb-like" data-href="{{ site.url | escape }}{{ page.url | escape }}" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false"></div>
		</div>
	</footer>
	<div id="disqus_thread"></div>
	<script type="text/javascript">
		 var disqus_shortname  = 'blogclevercloud';
     var disqus_title      = '{{ page.title }}';
     var disqus_url        = '{{ site.url }}{{ page.url }}';
		 /* * * DON'T EDIT BELOW THIS LINE * * */
		 (function() {
		     var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		     dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
		     (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		 })();
	</script>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
</article>
