---
layout: blog
---

<article class="post">
	<div class="page-header">
		<p class="date">
			{{ site.i.post.posted[page.lang] }}
			{{ page.date | date: site.i.post.date[page.lang] }}
		</p>
		<h2>
			<a href="/">{{ site.i.home }}</a> &raquo;
			{{ page.title }}
		</h2>
	</div>
	<div class="content">
		{{ content }}
	</div>
	<footer class="row post-info"> {% if page.author %} {% assign r = page.author %}
		<div class="span5 author">
			{% include author.html %}
		</div> {% endif %} {% if page.level %}
		<p class="level"> {% assign l = page.level %}
			{% include level.html %}
		</p> {% endif %}
		<p class="category">{{ page.categories[0] }}</p>
	</footer>
</article>
