---
layout: base
---

{% for post in paginator.posts %}
<article class="post main">
	<div class="page-header">
		<h2>
			<a href="{{ post.url }}">{{ post.title }}</a>
		</h2>
    <span class="date">
      {{ site.post.posted[page.locale] }}
    </span>
    <span class="date value" title="{{ post.date | date: site.post.date[page.locale] }}">
      {{ post.date | date: site.post.date[page.locale] }}
    </span>
	</div>
  <div class="content">
    {% if post.banner %}
    <div>
       <img class="cc-banner" src="{{ post.banner }}">
    </div>
    {% endif %}
    {{ post.excerpt }}
    <div class="footer-list">
      <a href="{{ post.url }}" class="cc-btn">{{ site.post.more[page.locale] }}</a>
    </div>
    <hr class="cc-post_divider">
  </div>
</article>{% endfor %}
<div class="pagination">
	<ul>{% if paginator.page > 1 %}
		<li> 
      <a href="/{% unless paginator.page == 2 %}page{{ paginator.page | minus: 1 }}/{% endunless %}">
				&laquo;
			</a>
		</li>{% endif %}
		<li{% if paginator.page == 1 %} class="active"{% endif %}>
			<a href="/">1</a>
		</li>{% for i in (2..paginator.total_pages) %}
		<li{% if paginator.page == i %} class="active"{% endif %}>
			<a href="/page{{ i }}/">{{ i }}</a>
		</li> {% endfor %} {% if paginator.page < paginator.total_pages %}
		<li><a href="/page{{ paginator.page | plus: 1 }}/">&raquo;</a></li>{% endif %}
	</ul>
</div>
